.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.product__list{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;

}

.search-container{
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.search-container input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
/*.product__item{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/