.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.product__list{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;

}

/*.product__item{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/